body{
  background-color: rgb(6, 2, 36);

}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  
}

h1{
  font-size: 4rem;
  color: white;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: green;
  border-radius: 5px;
}

.delete-button{
  background-color: red;
  border-radius: 5px;
}
.move-up-button{
  background-color: rgb(180, 170, 228);
  border-radius: 5px;
}
.move-down-button{
  background-color:  rgb(180, 170, 228);
  border-radius: 5px;
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid rgb(102, 96, 114);
  border-radius: 5px;
  color: rgb(29, 28, 28);
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 3px solid rgb(22, 21, 21);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.delete-button, .move-down-button, .move-up-button{
  margin-left: 10px;

}